<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Gasto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- Barra lateral -->
    <div class="sidebar">
        <h3>Menú</h3>
        <a href="/">Inicio</a>
        <a href="/report">Estadísticas</a>
        <a href="/gastos">Histórico</a>
        <a href="/config">Configuración</a>

    </div>

    <!-- Contenedor principal con margen para la barra lateral -->
    <div class="content">

        <!-- Encabezado principal -->
        <header class="main-header">
            <h1>Seguimiento cuentas Pino</h1>
        </header>    

        <h1>Editar Gasto</h1>

        <div class="form-container">
            <form method="POST">
                <label>Categoría:</label>
                <select name="categoria" id="categoria" required>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.nombre }}" {% if categoria.nombre == gasto.categoria %}selected{% endif %}>
                            {{ categoria.nombre }}
                        </option>
                    {% endfor %}
                </select>
                <br>

                <label>Descripción:</label>
                <input type="text" name="descripcion" value="{{ gasto.descripcion }}">
                <br>

                <label>Monto:</label>
                <input type="number" step="0.01" name="monto" value="{{ gasto.monto }}" required>
                <br>

                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                <a href="{{ url_for('index') }}" class="btn btn-secondary">
                    <img class="cancel" src="{{ url_for('static', filename='cancelar.png') }}">
                </a>
            </form>
        </div>            
    </div>


</body>
</html>
